{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
       
    <div class="row">
        {% if object_list %}
        {% for product in object_list %}
         <div class="col-lg-4">
             <div class="card allproducts">
                <a href="{{ product.get_absolute_url }}">
                  <div class="card-body">
                      <img class=" card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                  </div>
                </a>
                <div class="card-content">
                  {% if product.rating %}
                  <h6 class="text-center"><i style="color:yellow;"  class="fa fa-star" style="font-size: small;"></i>{{ product.rating }}</h6>
                  {% else %}
                  <h6 class="text-center">No rating</h6>
                  {% endif %}
                  <h6 class="text-center">{{ product.name }}</h6>
                  <h6 class="text-center">{{ product.price }} $</h6>
                </div>
             </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="Error-search">
            <h4 > Not results found. </h4>
        </div>
      {% endif %}
    </div>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  


{% endblock %}

{% block postloadjs %}

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}