{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container single-product">
    <div class="row">
        <div class="col-lg-5 ">
            <div class="image-container">
            {% if product.image %}
            <img class=" img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"  class="card-img-top" width = "100%">
            </div>
        </div>
        <div class="col-lg-7">
            <h4><i style="color:yellow;"class="fa fa-star" style="font-size: small;"></i>{{ product.rating }}/5</h4>
            {% else %}
            <h4><i class="fa fa-star" style="font-size: small;"></i>No rating</h4>
            {% endif %}
            <h4>{{ product.name }}</h4>
            <h4>{{ product.price }} $</h4>
            <p>{{ product.description }}</p>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type='submit' class="btn btn-sm btn-primary buy-now">Add to cart</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block postloadjs %}

{% endblock %}