<nav class="navbar navbar-expand-lg center-fixed bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon">   
          <i class="fas fa-bars" style="color:orange; font-size:28px;"></i>
      </span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navCollapse">
        <ul class="navbar-nav m-auto my-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Purchase</a>
          </li>
          <li class="nav-item">
            <li class="list-inline-item">
              <a class="{% if order.get_subtotal %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'cart:bag' %}">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                      <p class="my-0">
                  </div>
              </a>
          </li>
          </li>
        </ul>
        <form class="form" method="GET" action="{% url 'cart:products' %}">
          <input type='text' class="search" name='q' value='{{ request.GET.q }}'>
          <input class="button btn0" type='submit' value="Search">
        </form>
      </div>
    </div>
  </nav>