@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Pacifico&display=swap');

:root{
    --black:#2c2c54;
    --orange:#ff9f1a;
  }

 html, body {
      font-family: 'Dongle';
      font-size: 25px;
      overflow: auto;
      min-height: 100vh;
    }

.nav-link{
      color: salmon;
      font-size: 2rem;
    }

.nav-link:hover{
      color: green;
    }


.navbar-brand{
  font-family:'Pacifico', 'cursive';
  font-size: 2.5rem;
  color: salmon;
}

.search{
  height: 40px;
  width: 60%;
  border: 2px solid pink;
}

.btn0{
  height: 40px;
  width: 30%;
  border: none;
  background-color: orange;
}
  
.main {
  background: url('/media/imageshop.jpg') ;
  background-size: cover;
  height: 100vh;
  background-position-x: 80%;
  }

.h1-section{
  font-size: 3rem;
  font-family: 'Dongle';
  color: #2c2c54;
}

.btn1{
background: black;
width: 30%;
font-size: 2rem;
font-family: 'Dongle';
color: white;
}


.div-index {
  margin-left: 10%;
  margin-top: 20%;
}


/* Single product */

.single-product {
  margin-top: 5%;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2  {
  padding: 5%; 
}

.single-product h4 {
  font-size: 1.5rem;
  color: #0a0a0a;

}

.single-product select {
  display: block;
  padding: 5%;
  margin-top: 10%;
}


.product-button{
  background: orange;
  font-size: 2rem;
  font-family: 'Dongle';
  color: white;
  height: 15%;
  }


/* All products */


.col-lg-3 {
  display: flex;
}



.allproducts {
    background-color: lightgray;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10%;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}


/* Related product */

.related-product {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 1.2em;
}


.related-product .card-image-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.related-product .card-content {
height: 20vh;
}

.pagination {
  font-size: 1.5rem;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  background-color: orange;
  position: sticky;
  top: 80%;
  margin-top: auto;
  bottom: 0;
}

.sticky-footer{
  position: sticky;
  top: 100%;
  margin-top: auto;
  bottom: 0;
}



@media only screen and (min-width: 768px) {
  .nav-search{
    margin-right: 10%;
  }
  
  .Error-search{
    margin-left: 40%;
    margin-top: 10%;
  }
  
}

@media only screen and (max-width: 768px) {

  .div-index{
    margin-top: 20%;
  }

  .btn1{
    background: black;
    width: 80%;
    font-size: 2rem;
    font-family: 'Dongle';
    color: white;
    }

 .single-product input{
        width: 30%;
        height: 15%;
        padding-left: 5%;
        font-size: 2rem;
        border: 1px solid orange;
        margin-right:10%;
      }
  
  
  .related-product {
    margin-top: 10%;
  }
  

  .Error-search{
    margin-top: 30%;
    margin-left: 30%;
  }
  
}